/* ---------- Global Styles ---------- */

@import url('https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

html, body, p {
  
  font-family: 'Atkinson Hyperlegible';
  font-weight: 400;
  line-height: 1.5; 
  font-size: 1em;
  color: #333333;
  font-style: normal;
  
}

h2, h3 {
  font-family: 'Roboto Slab'
}

em {
  margin-right: 3px;
}

summary {
  background-color: lightgrey;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

div.opener {
  text-align: justify;
}

/* Small caps */

.sc {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}


/* ---------- Index Page Styles ---------- */


/* Name time */

div.nav-left.title {
  font-family: 'Roboto Slab';
}


/* Search bar */

.angolia-autocomplete {
  width: 300px;
}

.nav-search {
    font-size: inherit;
}

/* Publication Date */

.publishedDate {
  font-size: 1.1em;
}


/* Post Description */

.posts-list .description h2 {
  font-family: 'Roboto Slab';
}

.description p {
  font-style: italic;
  padding-top: 5px;
}


/* Tags */

.posts-list .dt-tags {
  margin-top: 10px;
  margin-right: 10px;
}


.posts-list .dt-tags .dt-tag {
  font-family: 'Roboto Slab';
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #565656;
  color: white;
}

/* Top & Bot bars */

.distill-site-nav {
  background-color: #262c2f;
}

.distill-site-footer p {
  color: white;
}



/* Post published date medatada */
.posts-list .metadata .publishedDate{
  font-family: 'Roboto Mono';
}


/* Post list caption */
.posts-list .posts-list-caption{
  font-family: 'Fira Mono';
  border-bottom: 5px solid #f3f3f3;
  padding-bottom: 2rem;
}


/* Sidebar Categories */
.posts-sidebar {
  font-family: 'Fira Mono';
}

.sidebar-section h3 {
  font-size: 22px;
  margin-bottom: 20px;
}


/* ---------- Article Styles ---------- */


/* Title */

d-title {
  padding-bottom: 0;
}

d-title h1 {
  font-family: 'Roboto Slab';
  line-height: 1.3;
}

d-title p {
  font-weight: 600;
}


/* General */

d-article > h2 {
  margin: 3rem 0 1.5rem 0;
  border-bottom: 2px solid black;
}

div.l-body + h2 {
  margin-top: 0px;
}

d-article > h3 {
  margin-top: 1em;
  font-size: 28px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

d-article ol {
  padding-bottom: 15px;
}

/* Aside */

aside {
  margin-left: 20px;
  width: 200px;
  font-family: 'Roboto Slab';
}

div.sourceCode + aside {
  margin-top: 1.5em;
}

aside code {
  font-weight: 600;
}


/* Block Quotes */

d-article blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  padding-left: 1em;
}

blockquote p {
  margin-bottom: 0;
}


/* Footnote margins */
d-footnote {
  margin-left: -.2em;
  margin-right: .1em;
}

/* Footnote Image */

d-footnote-list ol li img {
  width: 700px;
}

d-footnote img {
  width: 660px;
  padding: 10px;
}


/* -------- Layout Helpers -------- */

/* 2-column Even */

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

/* 2-column Left-skew */

.pull-left-wide {
  float: left;
  width: 75%;
}

.pull-right-narrow {
  float: right;
  width: 20%;
}

/* 2-column Right-skew */

.pull-left-narrow {
  float: left;
  width: 20%;
}

.pull-right-wide {
  float: right;
  width: 75%;
}


/* ---------- Code Styles ---------- */

/* Inline Code */

p code {
  border-radius: 4px;
  padding: 3px 2px 2px 2px;
  color: black;
  background-color: #fbc4ff;
  font-family: 'Fira Mono';
  font-weight: 600;
  font-size: 0.8em;
}



/* Code Chunk */

d-article div.sourceCode pre {
  position: relative;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #4D8DC9;
}

/* R chunk */
d-article div.sourceCode pre.r {
  background-color: #faffff;
}

d-article div.sourceCode pre.r:before {
  position: absolute;
  font-size: 1rem;
  content: 'R';
  font-family: 'Fira Mono';
  font-weight: 600;
  left: -20px;
  top: -5px;
  color: #59a2e6;
}

d-article div.sourceCode pre code {
  font-family: 'Fira Mono';
  font-weight: 600;
}


/* overrides some syntax highlighting */

span.va {
  color: black;
}
span.fu {
  color: #3456cc;
}
span.cn {
  color: #ef3e3a;
}
span.fl {
  color: #c8531d;
}
span.kw {
  color: #9f1eb1;
}
span.st {
  color: #148a14;
}
span.co {
  color: #999999;
  font-weight: 500;
}

/* underline auto-linked functions */

span.va a {
  text-decoration: underline;
}
span.fu a {
  text-decoration: underline;
}


/* Output Chunk */

d-article pre code {
  font-family: 'Fira Mono';
  font-weight: 500;
}

d-article pre {
  background-color: #f9f9f9;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  overflow-x: scroll;
}


/* Footnote inline code */

d-footnote-list code {
  color: rgb(0 0 0 / 0.70);
  font-weight: 600;
}

/* ---------- ADD-ONS ---------- */


/* {rmarkdown} */

.pagedtable-wrapper {
  margin-bottom: 20px;
}


/* html widgets */

.html-widget {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}


/* {reactable} */

.ReactTable {
  font-size: 14px;
  font-family: 'Roboto Slab';
  background-color: #fbfbfb;
}


/* {xaringanExtra} */

.panelset {
  margin-top: 10px;
  --panel-tabs-border-bottom: black;
  --panel-tab-font-family: 'Roboto Slab';
  --panel-tab-hover-background: #ddd;
  --panel-tab-text-decoration: none;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.panelset section {
    margin-top: 30px;
    margin-bottom: 20px;
}