/* ---------- Global Styles ---------- */

html, body, p {
  
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.7; 
  font-size: 1em;
  color: #333333;
  font-style: normal;
  
}

/* Small caps */

.sc {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}


/* ---------- Index Page Styles ---------- */


/* Name time */

div.nav-left a.title {
  font-family: Trispace;
}


/* Search bar */

.angolia-autocomplete {
  width: 300px;
}


/* Publication Date */

.publishedDate {
  font-size: 1.1em;
}


/* Tags */

.posts-list .dt-tags {
  margin-top: 10px;
  margin-right: 10px;
}


.posts-list .dt-tags .dt-tag {
  font-family: Ubuntu;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #f9f9f9;
}

/* Top & Bot bars */

.distill-site-nav {
  background-color: #262c2f;
}

.distill-site-footer p {
  color: white;
}


/* Google Search */

table#gs_id50 {
  margin-bottom: 0;
  border-bottom: none;
}

.gsc-control-cse {
  margin-bottom: 0;
}

.gsc-search-button-v2 {
  border-color: #272c34;
  background-color: #404f67;
}


/* Post published date medatada */
.posts-list .metadata .publishedDate{
  font-family: 'Roboto Mono Medium';
}


/* Post list caption */
.posts-list .posts-list-caption{
  font-family: 'Fira Mono Medium';
  border-bottom: 5px solid #f3f3f3;
  padding-bottom: 2rem;
}


/* Sidebar Categories */
.posts-sidebar {
  font-family: 'Fira Mono';
}


/* ---------- Article Styles ---------- */


/* Title */

d-title {
  padding-bottom: 0;
}

d-title h1 {
  font-family: 'Lora';
  line-height: 1.3;
}


/* General */

d-article h3 {
  margin-top: 1em;
}

d-article ol {
  padding-bottom: 15px;
}

/* Aside */

aside {
  margin-left: 20px;
  width: 200px;
  font-family: 'Adelle';
}

div.sourceCode + aside {
  margin-top: 1.5em;
}

aside code {
  font-weight: 600;
}


/* Block Quotes */

d-article blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  padding-left: 1em;
}

blockquote p {
  margin-bottom: 0;
}


/* ---------- Code Styles ---------- */

/* Inline Code */

p code {
  color: #d23c6e;
  background-color: #ff002f0a;
  font-family: 'Fira Mono';
  font-weight: 500;
  font-size: 0.8em;
}



/* Code Chunk */

d-article div.sourceCode pre {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

d-article div.sourceCode pre code {
  font-family: 'Roboto Mono';
  font-weight: 500;
}

/* overrides some syntax highlighting */
code span.va {
  color: black;
}

/* underline auto-linked functions */
code span.va a {
  text-decoration: underline;
}
code span.fu a {
  text-decoration: underline;
}




/* Output Chunk */

d-article pre code {
  font-family: IBM Plex Mono;
  font-weight: 500;
}

d-article pre {
  background-color: #f9f9f9;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  overflow-x: scroll;
}


/* Footnote inline code */

d-footnote-list code {
  color: rgb(0 0 0 / 0.70);
  font-weight: 600;
}

/* ---------- ADD-ONS ---------- */


/* {rmarkdown} */

.pagedtable-wrapper {
  margin-bottom: 20px;
}


/* html widgets */

.html-widget {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}


/* {reactable} */

.ReactTable {
  font-size: 14px;
  font-family: 'Roboto Medium';
  background-color: #fbfbfb;
}


/* {xaringanExtra} */

.panelset {
  margin-top: 10px;
  --panel-tabs-border-bottom: black;
  --panel-tab-font-family: 'Montserrat SemiBold';
  --panel-tab-hover-background: #ddd;
  --panel-tab-text-decoration: none;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}